<p>Let's add a blog!</p>
<form action="addblog" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="path" placeholder="path">
    <input type="text" name="keywords" placeholder="keywords separated by commas">
    <input type="text" name="choreographer" placeholder="choreographer">
    <input type="text" name="summary" placeholder="summary - short like a tweet">
    <input type="text" name="text" placeholder="full text">
    <input type="text" name="image" placeholder="image url">
    <input type="text" name="video" placeholder="youtube video code">

    <button type="submit">Add new blog post.</button>
</form>
<hr>