<h1>Samuela Papotto</h1>
<a href="/">home</a>
<a href="/about">about</a>
<a href="/blog">blog</a>
<a href="/photo">photo</a>
<a href="/video">video</a>
<a href="/contact">contact</a>
<a href="/admin">admin</a>
<hr>